.wrapper{
    height: var(--defaullayout-height);
    box-shadow: 0px 1px 1px rgb(0 0 0/ 12%);
    display: flex;
    width: 100%;
    justify-content: center;
}

.inner{
    height: 100%;
    width: var(--defaullayout-width);

}